:root {
	--main-color: #1B1B1B;
    --second-color: #CFCFCF;
	--accent-color: #6100FF;
    --tertiary-color: #2bc975;
    --background-color:#F5F5F5;
	--font-large: 148%;
    --font-medium: 96%;
    --font-small: 64%;
}

@font-face {
  font-family: "Tele-Text";
  src: url("Tele-Text.otf");
  font-style: normal;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	-webkit-hyphens: auto; 
    hyphens: auto; 
}

html {
	font: var(--font-large) "Tele-Text", sans-serif;
	line-height: 1.2;
    background-color: var(--background-color);
    font-weight: normal;
}

::selection {
    color: var(--background-color);
    background-color: var(--accent-color);
}

body {
    margin-block: 1.5rem;
    width: 80%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4rem;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;

 }

h4 {
    font-size: var(--font-large);
    font-weight: normal;
}

h5 {
    font-size: var(--font-medium);
    font-weight: normal;
}


.timer {
    text-align: center;
    position: absolute;
    top: 7.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.breakMessage {
    display: block;
    color: var(--main-color);
}


.btn {
    width: 2rem;
    height: 2rem;
    border: 2px solid var(--main-color);
    cursor: pointer;
    border-radius: 40rem;
    padding-inline: 0.2rem;
    padding-block-start: 0.26rem;
    font-size: var(--font-medium);
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
    justify-content: center;
}

#setTime {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;

}

form {
    margin-inline: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--font-medium);
    gap: 0.2rem;
}

label {
    font-size: var(--font-small);
}


input {
    margin-inline: 0.2rem;
    padding: 0.2rem;
    width: 40%;


}


p {
    font-size: var(--font-small);
}


.progressSessions {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
    align-items: center;

}

.circleSe {
    width: 24px;
    height: 24px;
    border: 2.4px solid var(--tertiary-color);
    border-radius: 10rem;
    
}


.circleBre {
    width: 14px;
    height: 14px;
    border: 2px solid var(--main-color);
    border-radius: 10rem;  
}








#nullMin {
    font-size: var(--font-large);
    font-weight: normal;
}

#nullSec {
    font-size: var(--font-large);
    font-weight: normal;
}


footer {
    bottom: 0;
    position: fixed;
    font-size: var(--font-small);
    margin-block: 1.4rem;

}

footer a {
    color: var(--tertiary-color);
    text-decoration: none;
    font-weight: normal;
  
}




/* Progress Ring */
.progress-ring {
    
    width: 240px;
    height: 240px;
}

.progress-ring circle {
    fill: none;
    stroke-width: 18;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

.progress-ring__background {
    stroke: var(--second-color); /* Hintergrundfarbe */
}

.progress-ring__circle {
    stroke-linecap: butt;
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    transition: stroke-dashoffset 0.5s linear;
}

#ringColor {
    stroke: var(--tertiary-color); /* Fortschrittsfarbe */
}

.percent {
    display: none;
}