:root {
	--main-color: #1B1B1B;
    --second-color: #CFCFCF;
	--accent-color: #6100FF;
    --tertiary-color: #2bc975;
    --background-color:#F5F5F5;
	--font-large: 148%;
    --font-medium: 96%;
    --font-small: 64%;
}

@font-face {
  font-family: "Tele-Text";
  src: url("Tele-Text.otf");
  font-style: normal;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	-webkit-hyphens: auto; 
    hyphens: auto; 
}

html {
	font: var(--font-large) "Tele-Text", sans-serif;
	line-height: 1.2;
    background-color: var(--background-color);
    font-weight: normal;
}

::selection {
    color: var(--background-color);
    background-color: var(--accent-color);
}

body {
    margin-block: 1.5rem;
    width: 80%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;

 }

h4 {
    font-size: var(--font-large);
    font-weight: normal;
}

h5 {
    font-size: var(--font-medium);
    font-weight: normal;
}

.timer {
    color: var(--main-color);
    text-align: center;
    width: 10rem;
    height: 10rem;
    border: 20px solid var(--main-color);
    border-radius: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.breakMessage {
    display: block;
    color: var(--main-color);
}


.btn {
    width: 6rem;
    border: 1px solid var(--main-color);
    cursor: pointer;
    border-radius: 10rem;
    padding-inline: 0.8rem;
    padding-block: 0.2rem;
    font-size: var(--font-medium);
}

#setTime {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;

}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--font-medium);
    gap: 0.2rem;
}

label {
    width: 72%;
}


input {
    margin-inline: 0.4rem;
    padding: 0.4rem;
    width: 40%;


}


p {
    font-size: var(--font-small);
}


.progressSessions {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
    align-items: center;

}

.circleSe {
    width: 24px;
    height: 24px;
    border: 2.4px solid var(--tertiary-color);
    border-radius: 10rem;
    
}


.circleBre {
    width: 14px;
    height: 14px;
    border: 2px solid var(--main-color);
    border-radius: 10rem;  
}




a {
    text-decoration: none;
    color: var(--main-color)
}

a:focus, a:visited, a:active {
     color: var(--main-color);
}


button:hover {
    background-color: var(--main-color);
    color: var(--background-color);   
}

a:hover {
    background-color: var(--main-color);
    color: var(--background-color);   
    
}


#nullMin {
    font-size: var(--font-large);
    font-weight: normal;
}

#nullSec {
    font-size: var(--font-large);
    font-weight: normal;
}